* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-top: 50px;
}

.datatables {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 81vh;
}

.width {
    width: 90vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10.5vh;
    color: white;
    background-color: rgb(0, 0, 0);

}